<tbody>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">1</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-3DNRdudZ2SstnDCVKFdXxG" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-3DNRdudZ2SstnDCVKFdXxG"></span></td>
        <td class="track-table-cell">Sonata No. 14 "Moonlight" in C-Sharp Minor", Op. 27 No. 2: I. Adagio sostenuto</td>
        <td class="track-table-cell">Ludwig van Beethoven</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2007</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">171</td>
        <td class="google-visualization-table-type-number track-table-cell">1</td>
        <td class="google-visualization-table-type-number track-table-cell">18</td>
        <td class="google-visualization-table-type-number track-table-cell">-37</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">15</td>
        <td class="google-visualization-table-type-number track-table-cell">315</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">68</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">2</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-69RoAhDqFOiQb2pQvb24Ii" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-69RoAhDqFOiQb2pQvb24Ii"></span></td>
        <td class="track-table-cell">Requiem: Lacrimosa</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2013</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">132</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">16</td>
        <td class="google-visualization-table-type-number track-table-cell">-23</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">170</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">66</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">3</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6N7JzrteJv8lsr1GWYyu0b" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6N7JzrteJv8lsr1GWYyu0b"></span></td>
        <td class="track-table-cell">Suite bergamasque: Suite bergamasque: III. Clair de lune. Andante très expressif</td>
        <td class="track-table-cell">Claude Debussy</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2007</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">67</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">34</td>
        <td class="google-visualization-table-type-number track-table-cell">-27</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">279</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">64</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">4</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6qUjY7JsuQYxn99qfOAQyB" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6qUjY7JsuQYxn99qfOAQyB"></span></td>
        <td class="track-table-cell">Nocturne in E-Flat Major, Op. 9, No.2</td>
        <td class="track-table-cell">Frédéric Chopin</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2011</td>
        <td class="track-table-cell">2015‑10‑04</td>
        <td class="google-visualization-table-type-number track-table-cell">73</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
        <td class="google-visualization-table-type-number track-table-cell">-25</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">232</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">62</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">5</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-0jOnZhF75V68VsBObWx2XO" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-0jOnZhF75V68VsBObWx2XO"></span></td>
        <td class="track-table-cell">The Swan (From "Carnival of the Animals, R. 125")</td>
        <td class="track-table-cell">Camille Saint-Saëns</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2017‑02‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">128</td>
        <td class="google-visualization-table-type-number track-table-cell">2</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">-31</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">174</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">59</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">6</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-0CJuLeZpCdqrqoCMXWZw8k" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-0CJuLeZpCdqrqoCMXWZw8k"></span></td>
        <td class="track-table-cell">The Nutcracker - Ballet, Op.71, Act II: No. 13 - Waltz of the Flowers</td>
        <td class="track-table-cell">Pyotr Ilyich Tchaikovsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2010</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">111</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">25</td>
        <td class="google-visualization-table-type-number track-table-cell">-20</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">416</td>
        <td class="google-visualization-table-type-number track-table-cell">95</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">56</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">7</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-7nHvS6UUhz2gJhj8TIROLX" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-7nHvS6UUhz2gJhj8TIROLX"></span></td>
        <td class="track-table-cell">Adagio for Strings, Op. 11</td>
        <td class="track-table-cell">Samuel Barber</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1964</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">86</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">-20</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">596</td>
        <td class="google-visualization-table-type-number track-table-cell">91</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">56</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">8</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-53KU8BrYZuxZOb3jqDm4ix" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-53KU8BrYZuxZOb3jqDm4ix"></span></td>
        <td class="track-table-cell">Serenade In G Major: Eine Kleine Nachtmusik, K. 525: I. Allegro</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2003</td>
        <td class="track-table-cell">2015‑10‑17</td>
        <td class="google-visualization-table-type-number track-table-cell">147</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">39</td>
        <td class="google-visualization-table-type-number track-table-cell">-24</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
        <td class="google-visualization-table-type-number track-table-cell">468</td>
        <td class="google-visualization-table-type-number track-table-cell">72</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">55</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">9</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1IM8x4lxZVOOP9gpQD6c5s" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1IM8x4lxZVOOP9gpQD6c5s"></span></td>
        <td class="track-table-cell">Danse macabre in G Minor, Op. 40</td>
        <td class="track-table-cell">Camille Saint-Saëns</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1996</td>
        <td class="track-table-cell">2016‑11‑27</td>
        <td class="google-visualization-table-type-number track-table-cell">116</td>
        <td class="google-visualization-table-type-number track-table-cell">18</td>
        <td class="google-visualization-table-type-number track-table-cell">44</td>
        <td class="google-visualization-table-type-number track-table-cell">-20</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">432</td>
        <td class="google-visualization-table-type-number track-table-cell">91</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">53</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">10</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-10hnf3EVrq4xdt0ahFtRAk" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-10hnf3EVrq4xdt0ahFtRAk"></span></td>
        <td class="track-table-cell">3 Gymnopédies: 1. Lent et douloureux</td>
        <td class="track-table-cell">Erik Satie</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2009</td>
        <td class="track-table-cell">2015‑12‑21</td>
        <td class="google-visualization-table-type-number track-table-cell">79</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">46</td>
        <td class="google-visualization-table-type-number track-table-cell">-35</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">22</td>
        <td class="google-visualization-table-type-number track-table-cell">196</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">49</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">11</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-3KHNMiH125wqD2I47oxmvp" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-3KHNMiH125wqD2I47oxmvp"></span></td>
        <td class="track-table-cell">Piano Concerto No. 1 in C Minor, Op. 35: II. Lento</td>
        <td class="track-table-cell">Dmitri Shostakovich</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2006</td>
        <td class="track-table-cell">2015‑05‑02</td>
        <td class="google-visualization-table-type-number track-table-cell">68</td>
        <td class="google-visualization-table-type-number track-table-cell">2</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
        <td class="google-visualization-table-type-number track-table-cell">-27</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">512</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">45</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">12</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-4J0e4gEqaLQlG5EM0wws1K" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-4J0e4gEqaLQlG5EM0wws1K"></span></td>
        <td class="track-table-cell">An der schönen blauen Donau, Op.314</td>
        <td class="track-table-cell">Johann Strauss II</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1982</td>
        <td class="track-table-cell">2017‑05‑07</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">24</td>
        <td class="google-visualization-table-type-number track-table-cell">-25</td>
        <td class="google-visualization-table-type-number track-table-cell">16</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">707</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">45</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">13</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6kQsS6IALerD0Wa8PJloPf" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6kQsS6IALerD0Wa8PJloPf"></span></td>
        <td class="track-table-cell">1812 Festival Overture, Op. 49: 1812 Overture, Op. 49: Finale</td>
        <td class="track-table-cell">Pyotr Ilyich Tchaikovsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2005</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">85</td>
        <td class="google-visualization-table-type-number track-table-cell">54</td>
        <td class="google-visualization-table-type-number track-table-cell">23</td>
        <td class="google-visualization-table-type-number track-table-cell">-13</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">229</td>
        <td class="google-visualization-table-type-number track-table-cell">48</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">45</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">14</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1Z43fZwZBbyx2Z9EkWvNs5" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1Z43fZwZBbyx2Z9EkWvNs5"></span></td>
        <td class="track-table-cell">Sonata in D Major for Two Pianos, K. 448: I. Allegro con spirito</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1985</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">132</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
        <td class="google-visualization-table-type-number track-table-cell">-29</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">42</td>
        <td class="google-visualization-table-type-number track-table-cell">511</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">44</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">15</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-2JKTGHXgwztW3vZRa9th8R" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-2JKTGHXgwztW3vZRa9th8R"></span></td>
        <td class="track-table-cell">The Firebird Suite: VII. Finale</td>
        <td class="track-table-cell">Igor Stravinsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2018</td>
        <td class="track-table-cell">2018‑04‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">81</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
        <td class="google-visualization-table-type-number track-table-cell">-21</td>
        <td class="google-visualization-table-type-number track-table-cell">71</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">221</td>
        <td class="google-visualization-table-type-number track-table-cell">84</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">43</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">16</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-5dw53K3HMvc66RDLaCDfmq" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-5dw53K3HMvc66RDLaCDfmq"></span></td>
        <td class="track-table-cell">Piano Sonata No.12 In F, K.332: 2. Adagio</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2014</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">72</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">48</td>
        <td class="google-visualization-table-type-number track-table-cell">-27</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
        <td class="google-visualization-table-type-number track-table-cell">284</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">43</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">17</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1oDAFTOXZGSQedBa6hXGhT" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1oDAFTOXZGSQedBa6hXGhT"></span></td>
        <td class="track-table-cell">The Nutcracker - Ballet, Op.71, Act II: Variation II: Dance of the Sugar-Plum Fairy</td>
        <td class="track-table-cell">Pyotr Ilyich Tchaikovsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2010</td>
        <td class="track-table-cell">2016‑09‑11</td>
        <td class="google-visualization-table-type-number track-table-cell">111</td>
        <td class="google-visualization-table-type-number track-table-cell">1</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
        <td class="google-visualization-table-type-number track-table-cell">-34</td>
        <td class="google-visualization-table-type-number track-table-cell">18</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">145</td>
        <td class="google-visualization-table-type-number track-table-cell">91</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">43</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">18</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6kyiWsforDWCq1VBCm4BNZ" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6kyiWsforDWCq1VBCm4BNZ"></span></td>
        <td class="track-table-cell">Can-Can From Orpheus In The Underworld</td>
        <td class="track-table-cell">Jacques Offenbach</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2007</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">165</td>
        <td class="google-visualization-table-type-number track-table-cell">59</td>
        <td class="google-visualization-table-type-number track-table-cell">45</td>
        <td class="google-visualization-table-type-number track-table-cell">-15</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">81</td>
        <td class="google-visualization-table-type-number track-table-cell">134</td>
        <td class="google-visualization-table-type-number track-table-cell">82</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">42</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">19</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1s1RlSnTe70UVao58Nx7SN" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1s1RlSnTe70UVao58Nx7SN"></span></td>
        <td class="track-table-cell">Rhapsody In Blue</td>
        <td class="track-table-cell">George Gershwin</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1999</td>
        <td class="track-table-cell">2017‑02‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">151</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
        <td class="google-visualization-table-type-number track-table-cell">-22</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">755</td>
        <td class="google-visualization-table-type-number track-table-cell">96</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">39</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">20</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-7o0PUNmeQ1Hq7xWya4IvXT" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-7o0PUNmeQ1Hq7xWya4IvXT"></span></td>
        <td class="track-table-cell">Piano Sonata in C major, K. 545: I. Allegro</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2016</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">145</td>
        <td class="google-visualization-table-type-number track-table-cell">27</td>
        <td class="google-visualization-table-type-number track-table-cell">27</td>
        <td class="google-visualization-table-type-number track-table-cell">-24</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">61</td>
        <td class="google-visualization-table-type-number track-table-cell">256</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">37</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">21</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-2FSMEjWvRqmrdZbsqiW8ds" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-2FSMEjWvRqmrdZbsqiW8ds"></span></td>
        <td class="track-table-cell">The Nutcracker - Ballet, Op.71, Act II, No. 12 - Divertissement:: Dance of the Reed Pipes</td>
        <td class="track-table-cell">Pyotr Ilyich Tchaikovsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2010</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">132</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">46</td>
        <td class="google-visualization-table-type-number track-table-cell">-30</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">28</td>
        <td class="google-visualization-table-type-number track-table-cell">149</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">22</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-15n7pbeQbg1vHjb1euRMIA" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-15n7pbeQbg1vHjb1euRMIA"></span></td>
        <td class="track-table-cell">Appalachian Spring: Allegro</td>
        <td class="track-table-cell">Aaron Copland</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1960</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">82</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">43</td>
        <td class="google-visualization-table-type-number track-table-cell">-13</td>
        <td class="google-visualization-table-type-number track-table-cell">19</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
        <td class="google-visualization-table-type-number track-table-cell">163</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">34</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">23</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-4Py2NS1Cn75pZoeFIz62GJ" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-4Py2NS1Cn75pZoeFIz62GJ"></span></td>
        <td class="track-table-cell">Piano Trio No. 1 in D Minor, Op. 49, MWV 29: I. Molto Allegro agitato</td>
        <td class="track-table-cell">Felix Mendelssohn</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2014</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">66</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">21</td>
        <td class="google-visualization-table-type-number track-table-cell">-19</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">587</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">34</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">24</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-2OHnoGjn6X6kDwzO7Rw0Y9" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-2OHnoGjn6X6kDwzO7Rw0Y9"></span></td>
        <td class="track-table-cell">The Sorcerer's Apprentice</td>
        <td class="track-table-cell">Paul Dukas</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1999</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">131</td>
        <td class="google-visualization-table-type-number track-table-cell">22</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
        <td class="google-visualization-table-type-number track-table-cell">-23</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">577</td>
        <td class="google-visualization-table-type-number track-table-cell">79</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">25</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1P0E20dEiQOj5ql6WGHzyk" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1P0E20dEiQOj5ql6WGHzyk"></span></td>
        <td class="track-table-cell">Piano Trio No. 1, Op. 99 D898: IV. Rondo (Allegro vivace)</td>
        <td class="track-table-cell">Franz Schubert</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2008</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">90</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">49</td>
        <td class="google-visualization-table-type-number track-table-cell">-22</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
        <td class="google-visualization-table-type-number track-table-cell">546</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">26</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1Jy8ux5jagFEKPSY42pLvB" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1Jy8ux5jagFEKPSY42pLvB"></span></td>
        <td class="track-table-cell">Carnival Of The Animals, Finale</td>
        <td class="track-table-cell">Camille Saint-Saëns</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1999</td>
        <td class="track-table-cell">2017‑02‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
        <td class="google-visualization-table-type-number track-table-cell">52</td>
        <td class="google-visualization-table-type-number track-table-cell">-18</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">54</td>
        <td class="google-visualization-table-type-number track-table-cell">117</td>
        <td class="google-visualization-table-type-number track-table-cell">81</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">27</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-7tMaOTu32tb7G2Ieb9ULY8" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-7tMaOTu32tb7G2Ieb9ULY8"></span></td>
        <td class="track-table-cell">An American in Paris</td>
        <td class="track-table-cell">George Gershwin</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1959</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">84</td>
        <td class="google-visualization-table-type-number track-table-cell">23</td>
        <td class="google-visualization-table-type-number track-table-cell">18</td>
        <td class="google-visualization-table-type-number track-table-cell">-19</td>
        <td class="google-visualization-table-type-number track-table-cell">23</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">1,103</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">32</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">28</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-3NNWpf6oQbdIxUvKIZSQbq" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-3NNWpf6oQbdIxUvKIZSQbq"></span></td>
        <td class="track-table-cell">Clarinet Concerto In A, K.622: 1. Allegro - Excerpt</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2001</td>
        <td class="track-table-cell">2015‑10‑17</td>
        <td class="google-visualization-table-type-number track-table-cell">115</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">32</td>
        <td class="google-visualization-table-type-number track-table-cell">-20</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
        <td class="google-visualization-table-type-number track-table-cell">357</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">32</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">29</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6MePybbe2dvkgII6LFVLDd" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6MePybbe2dvkgII6LFVLDd"></span></td>
        <td class="track-table-cell">Prelude No. 1 (From "Three Preludes")</td>
        <td class="track-table-cell">George Gershwin</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">80</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">51</td>
        <td class="google-visualization-table-type-number track-table-cell">-24</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">58</td>
        <td class="google-visualization-table-type-number track-table-cell">111</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">32</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">30</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1nSYeNU2ejDUmeqk47uOKY" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1nSYeNU2ejDUmeqk47uOKY"></span></td>
        <td class="track-table-cell">Delibes: Lakmé, Act 1: "Viens, Mallika, les lianes en fleurs... Dôme épais, le jasmin" (Lakmé, Mallika)</td>
        <td class="track-table-cell">Léo Delibes</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2004</td>
        <td class="track-table-cell">2017‑05‑07</td>
        <td class="google-visualization-table-type-number track-table-cell">128</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">29</td>
        <td class="google-visualization-table-type-number track-table-cell">-20</td>
        <td class="google-visualization-table-type-number track-table-cell">30</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">211</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">31</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-2yAsSFIdgXYTHVX1UoNzmD" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-2yAsSFIdgXYTHVX1UoNzmD"></span></td>
        <td class="track-table-cell">2 Arabesques: Andantino con moto</td>
        <td class="track-table-cell">Claude Debussy</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1993</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">130</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">30</td>
        <td class="google-visualization-table-type-number track-table-cell">-25</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">15</td>
        <td class="google-visualization-table-type-number track-table-cell">215</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">29</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">32</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-6ssMBfPT8GgVJrTGtK748B" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-6ssMBfPT8GgVJrTGtK748B"></span></td>
        <td class="track-table-cell">Rondo in D Minor, Wq. 61/4, H. 290</td>
        <td class="track-table-cell">Carl Philipp Emanuel Bach</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2006</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">135</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">-22</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">41</td>
        <td class="google-visualization-table-type-number track-table-cell">246</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">28</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">33</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-5IFhtbQYrvCHiHcLmE55ia" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-5IFhtbQYrvCHiHcLmE55ia"></span></td>
        <td class="track-table-cell">Sinfonia in E Minor, Wq. 178: Sinfonia in E Minor, Wq. 178: I. Allegro assai</td>
        <td class="track-table-cell">Carl Philipp Emanuel Bach</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2016</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">148</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">47</td>
        <td class="google-visualization-table-type-number track-table-cell">-14</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
        <td class="google-visualization-table-type-number track-table-cell">246</td>
        <td class="google-visualization-table-type-number track-table-cell">90</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">34</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-7sDR8ZqnDovR5xtsjSdV1u" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-7sDR8ZqnDovR5xtsjSdV1u"></span></td>
        <td class="track-table-cell">Jupiter - The Bringer of Jollity</td>
        <td class="track-table-cell">Gustav Holst</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2012</td>
        <td class="track-table-cell">2015‑06‑15</td>
        <td class="google-visualization-table-type-number track-table-cell">137</td>
        <td class="google-visualization-table-type-number track-table-cell">22</td>
        <td class="google-visualization-table-type-number track-table-cell">27</td>
        <td class="google-visualization-table-type-number track-table-cell">-18</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">478</td>
        <td class="google-visualization-table-type-number track-table-cell">95</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">19</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">35</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-4bnCkXd6QSOe4gbuW81Iiv" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-4bnCkXd6QSOe4gbuW81Iiv"></span></td>
        <td class="track-table-cell">The Rite of Spring - ballet (1913): Part 1- The Adoration of the Earth: Dance of the Adolescents</td>
        <td class="track-table-cell">Igor Stravinsky</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2012</td>
        <td class="track-table-cell">2015‑06‑18</td>
        <td class="google-visualization-table-type-number track-table-cell">111</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
        <td class="google-visualization-table-type-number track-table-cell">39</td>
        <td class="google-visualization-table-type-number track-table-cell">-22</td>
        <td class="google-visualization-table-type-number track-table-cell">67</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
        <td class="google-visualization-table-type-number track-table-cell">191</td>
        <td class="google-visualization-table-type-number track-table-cell">84</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">36</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1pEg14rYMydKYECiIYKPZC" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1pEg14rYMydKYECiIYKPZC"></span></td>
        <td class="track-table-cell">Gayane, Act III: Sabre Dance</td>
        <td class="track-table-cell">Aram Khachaturian</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2005</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">91</td>
        <td class="google-visualization-table-type-number track-table-cell">77</td>
        <td class="google-visualization-table-type-number track-table-cell">45</td>
        <td class="google-visualization-table-type-number track-table-cell">-16</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">30</td>
        <td class="google-visualization-table-type-number track-table-cell">151</td>
        <td class="google-visualization-table-type-number track-table-cell">72</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">37</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-18AHn3vVrmAO4b2fUfqh2J" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-18AHn3vVrmAO4b2fUfqh2J"></span></td>
        <td class="track-table-cell">Venus - The Bringer of Peace</td>
        <td class="track-table-cell">Gustav Holst</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2012</td>
        <td class="track-table-cell">2015‑06‑15</td>
        <td class="google-visualization-table-type-number track-table-cell">87</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">-35</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">505</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">15</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">38</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1OxeZIwKKZ36Bk5JAnLmYn" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1OxeZIwKKZ36Bk5JAnLmYn"></span></td>
        <td class="track-table-cell">Concerto in A Major for Basset Clarinet K. 622: I. Allegro</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑19</td>
        <td class="google-visualization-table-type-number track-table-cell">119</td>
        <td class="google-visualization-table-type-number track-table-cell">7</td>
        <td class="google-visualization-table-type-number track-table-cell">35</td>
        <td class="google-visualization-table-type-number track-table-cell">-24</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">19</td>
        <td class="google-visualization-table-type-number track-table-cell">766</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">14</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">39</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-5A77p6HtFr4OzyFYSn5n1z" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-5A77p6HtFr4OzyFYSn5n1z"></span></td>
        <td class="track-table-cell">Concerto in A Major for Basset Clarinet K. 622: II. Adagio</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑19</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">2</td>
        <td class="google-visualization-table-type-number track-table-cell">16</td>
        <td class="google-visualization-table-type-number track-table-cell">-25</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">389</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">40</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-0KI5bGRJW2MgsKCu6fgnSQ" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-0KI5bGRJW2MgsKCu6fgnSQ"></span></td>
        <td class="track-table-cell">Saturn - The Bringer of Old Age</td>
        <td class="track-table-cell">Gustav Holst</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2012</td>
        <td class="track-table-cell">2015‑06‑15</td>
        <td class="google-visualization-table-type-number track-table-cell">80</td>
        <td class="google-visualization-table-type-number track-table-cell">1</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">-27</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">584</td>
        <td class="google-visualization-table-type-number track-table-cell">95</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">41</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-04TXC62cnC8GYDXcHIzZyv" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-04TXC62cnC8GYDXcHIzZyv"></span></td>
        <td class="track-table-cell">Concerto in A Major for Basset Clarinet K. 622: III. Rondo (Allegro)</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑19</td>
        <td class="google-visualization-table-type-number track-table-cell">126</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">-23</td>
        <td class="google-visualization-table-type-number track-table-cell">28</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
        <td class="google-visualization-table-type-number track-table-cell">533</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">42</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-0gfYWVfx49Dzd8ezjbDR8h" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-0gfYWVfx49Dzd8ezjbDR8h"></span></td>
        <td class="track-table-cell">Hungarian Dance No. 5 in G Minor for Violin and Piano</td>
        <td class="track-table-cell">Johannes Brahms</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2016</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">175</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">30</td>
        <td class="google-visualization-table-type-number track-table-cell">-18</td>
        <td class="google-visualization-table-type-number track-table-cell">27</td>
        <td class="google-visualization-table-type-number track-table-cell">53</td>
        <td class="google-visualization-table-type-number track-table-cell">116</td>
        <td class="google-visualization-table-type-number track-table-cell">97</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">43</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-4gr1EHfOfVxuHMaMbZffQ1" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-4gr1EHfOfVxuHMaMbZffQ1"></span></td>
        <td class="track-table-cell">Piano Sonata No. 5 in C Minor, Op. 10 No. 1: I. Allegro molto e con brio</td>
        <td class="track-table-cell">Ludwig van Beethoven</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑15</td>
        <td class="google-visualization-table-type-number track-table-cell">101</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">-21</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">23</td>
        <td class="google-visualization-table-type-number track-table-cell">373</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">5</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">44</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1RM9y7ntLKD0nQ4P3STNou" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1RM9y7ntLKD0nQ4P3STNou"></span></td>
        <td class="track-table-cell">Symphony No.10 in E minor, Op.93: 2. Allegro</td>
        <td class="track-table-cell">Dmitri Shostakovich</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">1995</td>
        <td class="track-table-cell">2015‑06‑18</td>
        <td class="google-visualization-table-type-number track-table-cell">91</td>
        <td class="google-visualization-table-type-number track-table-cell">54</td>
        <td class="google-visualization-table-type-number track-table-cell">34</td>
        <td class="google-visualization-table-type-number track-table-cell">-11</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">20</td>
        <td class="google-visualization-table-type-number track-table-cell">243</td>
        <td class="google-visualization-table-type-number track-table-cell">74</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">45</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-3wI0oRrsV8evMJwgCVhJab" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-3wI0oRrsV8evMJwgCVhJab"></span></td>
        <td class="track-table-cell">Flute Quartet in D Major, K. 285: I. Allegro</td>
        <td class="track-table-cell">Wolfgang Amadeus Mozart</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑17</td>
        <td class="google-visualization-table-type-number track-table-cell">132</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">43</td>
        <td class="google-visualization-table-type-number track-table-cell">-22</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">52</td>
        <td class="google-visualization-table-type-number track-table-cell">586</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">46</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-7h3nn3QjGDb2UasV7myoOb" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-7h3nn3QjGDb2UasV7myoOb"></span></td>
        <td class="track-table-cell">Three Preludes: 3. Allegro ben ritmato e deciso</td>
        <td class="track-table-cell">George Gershwin</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2012</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">100</td>
        <td class="google-visualization-table-type-number track-table-cell">22</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">-19</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">59</td>
        <td class="google-visualization-table-type-number track-table-cell">85</td>
        <td class="google-visualization-table-type-number track-table-cell">99</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">1</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">47</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-1YjcNEcjsZVKeHDNhpK8gE" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-1YjcNEcjsZVKeHDNhpK8gE"></span></td>
        <td class="track-table-cell">Symphony No. 9 in E Minor, Op. 95, B. 178 "From the New World": II. Largo</td>
        <td class="track-table-cell">Antonín Dvořák</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑12</td>
        <td class="google-visualization-table-type-number track-table-cell">75</td>
        <td class="google-visualization-table-type-number track-table-cell">3</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">-28</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">709</td>
        <td class="google-visualization-table-type-number track-table-cell">98</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">48</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-14wPH8bqPa9a89RIqkG3On" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-14wPH8bqPa9a89RIqkG3On"></span></td>
        <td class="track-table-cell">Hodown from "Rodeo"</td>
        <td class="track-table-cell">Aaron Copland</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2009</td>
        <td class="track-table-cell">2016‑06‑14</td>
        <td class="google-visualization-table-type-number track-table-cell">126</td>
        <td class="google-visualization-table-type-number track-table-cell">34</td>
        <td class="google-visualization-table-type-number track-table-cell">44</td>
        <td class="google-visualization-table-type-number track-table-cell">-13</td>
        <td class="google-visualization-table-type-number track-table-cell">9</td>
        <td class="google-visualization-table-type-number track-table-cell">38</td>
        <td class="google-visualization-table-type-number track-table-cell">201</td>
        <td class="google-visualization-table-type-number track-table-cell">92</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">49</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-30TGNPHKpB1kufii0qxLu6" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-30TGNPHKpB1kufii0qxLu6"></span></td>
        <td class="track-table-cell">Symphony No. 9 in E Minor, Op. 95, B. 178 "From the New World": III. Molto vivace</td>
        <td class="track-table-cell">Antonín Dvořák</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑12</td>
        <td class="google-visualization-table-type-number track-table-cell">135</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">33</td>
        <td class="google-visualization-table-type-number track-table-cell">-19</td>
        <td class="google-visualization-table-type-number track-table-cell">31</td>
        <td class="google-visualization-table-type-number track-table-cell">13</td>
        <td class="google-visualization-table-type-number track-table-cell">482</td>
        <td class="google-visualization-table-type-number track-table-cell">93</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
    </tr>
    <tr class="google-visualization-table-tr-odd">
        <td class="track-table-cell google-visualization-table-seq">50</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-2oJgF0voWiRWI8Is4DZZRU" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-2oJgF0voWiRWI8Is4DZZRU"></span></td>
        <td class="track-table-cell">Symphony No. 9 in E Minor, Op. 95, B. 178 "From the New World": I. Adagio - Allegro molto</td>
        <td class="track-table-cell">Antonín Dvořák</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑12</td>
        <td class="google-visualization-table-type-number track-table-cell">60</td>
        <td class="google-visualization-table-type-number track-table-cell">12</td>
        <td class="google-visualization-table-type-number track-table-cell">17</td>
        <td class="google-visualization-table-type-number track-table-cell">-18</td>
        <td class="google-visualization-table-type-number track-table-cell">10</td>
        <td class="google-visualization-table-type-number track-table-cell">6</td>
        <td class="google-visualization-table-type-number track-table-cell">538</td>
        <td class="google-visualization-table-type-number track-table-cell">96</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
    </tr>
    <tr class="google-visualization-table-tr-even">
        <td class="track-table-cell google-visualization-table-seq">51</td>
        <td class="track-table-cell"><input class="track-select" type="checkbox" id="sel-0UU9DzplCzopflEtgI3d5m" title="select to add this track to the staging list"></td>
        <td class="track-table-cell"><span class="track-play glyphicon glyphicon-play" id="play-0UU9DzplCzopflEtgI3d5m"></span></td>
        <td class="track-table-cell">Symphony No. 9 in E Minor, Op. 95, B. 178 "From the New World": IV. Allegro con fuoco</td>
        <td class="track-table-cell">Antonín Dvořák</td>
        <td class="track-table-cell">classical</td>
        <td class="track-table-cell">2015</td>
        <td class="track-table-cell">2015‑10‑12</td>
        <td class="google-visualization-table-type-number track-table-cell">139</td>
        <td class="google-visualization-table-type-number track-table-cell">11</td>
        <td class="google-visualization-table-type-number track-table-cell">26</td>
        <td class="google-visualization-table-type-number track-table-cell">-18</td>
        <td class="google-visualization-table-type-number track-table-cell">15</td>
        <td class="google-visualization-table-type-number track-table-cell">8</td>
        <td class="google-visualization-table-type-number track-table-cell">698</td>
        <td class="google-visualization-table-type-number track-table-cell">92</td>
        <td class="google-visualization-table-type-number track-table-cell">4</td>
        <td class="google-visualization-table-type-number track-table-cell">0</td>
    </tr>
</tbody>
